<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News By Adam for Adam</title>
  </head>
  <body>

    <div class="container mt-5" style="background-color: green;">
        <div class="text-center">
            <h1 style="color: white;">News By Adam for Adam</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="text-center" style="background-color: blue;">
                    <h3 style="color: white;">Weather</h3>
                    <hr>
                </div>
                    <h6 class="text-center">Current Weather in Evanston, IL</h6>
                    <li>
                        <%= "It is currently #{@forecast["current"]["temp"].round()} and feels like #{@forecast["current"]["feels_like"].round()} and the forecast is #{@forecast["current"]["weather"][0]["description"]}" %>
                    </li>
                    <hr>
                    <h6 class="text-center">Future Forecast for Evanston, IL</h6>
                    <% for day in @forecast["daily"] %>
                        <% @day_number = @day_number + 1 %>
                        <li>
                            <%= "Day #{@day_number} has a high of #{day["temp"]["max"].round()} a low of #{day["temp"]["min"].round()} and the forecast is #{day["weather"][0]["description"]}" %>
                        </li>
                    <% end %>
            </div>
            <div class="col-lg-6 col-md-6">
                <div style="background-color: grey;">
                    <h3 class="text-center" style="color: white;">News Stories</h3>
                    <% for story in @news["articles"] %>
                    <li>
                        <%= "<b>#{story["title"]}</b> by #{story["author"]}" %>
                        <%= "<i>#{story["url"]}</i>" %>
                        <hr>
                    </li>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>